<html>
<head>
<title>{{ site.title }}</title>
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/site.css" rel="stylesheet">
</head>
 <body>
    <div class="container">
        <div class="jumbotron">
            <a href="{{site.url}}"> <h1>{{site.title}}</h1></a>
            {{site.description}}
        </div>
        <div class='row'>
            <div class='span12'>
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </div>
    </div> 
 </body>
</html>